@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");

.about-heading {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: "Caveat", cursive;
}

.about-heading:hover {
  cursor: default;
}

.about-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-content {
  margin: 1rem auto;
  min-height: 12.5rem;
  border-radius: 1rem;
  p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
    font-family: "Baloo Tammudu 2", cursive;
    transition-duration: 1s;
  }

  img {
    display: block;
    max-height: 12.5rem;
    min-width: 31.25rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 1s;
  }

  img:hover {
    transform: scale(1.05);
  }
  p:hover {
    transform: scale(1.05);
  }
}

.cont1 {
  max-width: 50rem;
  min-width: 50rem;
}

.cont1:hover {
  cursor: pointer;
}

.cont2 {
  max-width: 31.25rem;
  min-width: 31.25rem;
}

.cont2:hover {
  cursor: pointer;
}
