@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

.service-heading {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: "Caveat", cursive;
}

.service-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem auto;
}

.card {
  min-width: 440px;
  max-width: 440px;
  min-height: 150px;
  //   background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  transition-duration: 1s;

  h2 {
    font-size: 2rem;
    margin-left: 1rem;
    font-family: "Caveat", cursive;
    color: white;
  }

  p {
    font-size: 1.3rem;
    color: white;
    font-family: "Caveat", cursive;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.card:hover {
  transform: scale(1.05);
  border: 2px solid white;
}
