.boxcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.box {
  position: relative;
  display: inline-block;
  min-width: 21.875rem;
  max-width: 21.875rem;
  min-height: 15.625rem;
  background-color: #dadada;
  border-radius: 2rem 2rem 2rem 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  box-shadow: 0 6px 10px #099c100d, 0 0 6px #099c100d;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  transition-duration: 1s;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
  background-color: whitesmoke;
}

.heading-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-heading {
  text-align: center;
  margin-left: 1rem;
}

.box p {
  position: relative;
  font-size: 1.135rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}
